<section class="our_projects">
    <h2>Our projects</h2>
    <h3>Check out other themes <strong>JEDI</strong></h3>
    <nav class="project_navigation">
        <ul class="list">
            <li class="active"><a href="#">All</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Creative</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Infrastructure</a></li>
            <li><a href="#">Indusctrial</a></li>
            <li><a href="#">Other</a></li>
        </ul>
    </nav>
    <section class="project_images">
        <div class="photo">
            <a href="#"><img src="images/img-project01.jpg" alt="image description" /></a>
        </div>
        <div class="photo">
            <a href="#"><img src="images/img-project02.jpg" alt="image description" /></a>
        </div>
        <div class="photo">
            <a href="#"><img src="images/img-project03.jpg" alt="image description" /></a>
        </div>
    </section>
</section>