<section class="main_slider">
    <ul class="bxslider">
        <li>
            <div class="slider_photo">
                <img src="images/img-slider01.jpg" alt="image description" />
            </div>
            <div class="slider_description">
                <h1>Welcome</h1>
            </div>
        </li>
        <li>
            <div class="slider_photo">
                <img src="images/img-slider02.jpg" alt="image description" />
            </div>
            <div class="slider_description">
                <h1>Heading</h1>
            </div>
        </li>
        <li>
            <div class="slider_photo">
                <img src="images/img-slider01.jpg" alt="image description" />
            </div>
            <div class="slider_description">
                <h1>Welcome heading</h1>
            </div>
        </li>
    </ul>
</section>