<header class="main_header">
    <div class="header_holder">
        <div class="header_wrapper">
            <button type="button" class="icon_search">search</button>
            <nav class="main_menu">
                <span class="hamburger_icon"><span></span></span>
                <ul class="list">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Features</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="logo_wrapper">
            <a href="#" class="logo">
                <picture>
                    <source media="(max-width: 767px)" srcset="images/logo.gif">
                    <source media="(min-width: 768px)" srcset="images/logo-desktop.gif">
                    <img src="images/logo.gif" alt="Jedi" />
                </picture>
            </a>
            <strong class="slogan">May the Joomla be wih you</strong>
        </div>
    </div>
</header>